@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scale-on-hover {
    @apply hover:scale-105 duration-300 transition-all ease-in-out;
  }
  
  .scale-on-hover-sm {
    @apply hover:scale-[1.025] duration-300 transition-all ease-in-out;
  }

  .border-swasthya {
    @apply rounded-tr-2xl rounded-bl-2xl;
  }
  
  .nav-link {
    @apply cursor-pointer hover:-translate-y-[2px] transition-all duration-200 ease-in-out p-3;
  }

  .section-btn {
    @apply text-white text-base bg-teal-600 py-3 px-4 mx-2 mt-10 border-swasthya shadow-md hover:-translate-x-1 shadow-teal-300 hover:shadow-teal-400 scale-on-hover-sm flex space-x-3;
  }

  .sidenav-item {
    @apply opacity-50 hover:opacity-100 cursor-pointer flex items-center space-x-4 font-bold text-white transition-all duration-300 ease-in-out;
  }

  .logout-btn {
    @apply text-white text-base bg-teal-600 py-2 px-4 mx-2 border-swasthya shadow-sm hover:shadow-md shadow-teal-300 hover:shadow-teal-400 scale-on-hover-sm flex space-x-2 items-center;
  }

  .dash-back-btn {
    @apply ml-4 text-teal-600 hover:text-white bg-white hover:bg-teal-600 border-teal-600 border-4 border-double hover:border-transparent font-bold flex items-center space-x-1 px-4 border-swasthya hover:shadow-sm hover:shadow-teal-400 hover:scale-[1.05] transition-all duration-200 ease-in-out;
  }
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -160px;
  width: 300vw;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  right: -20px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
